[Desktop Entry]
Name=KakaoTalk
Name[ko]=카카오톡
Exec=env WINEPREFIX="/home/hamonikr-wine/.wine" wine-stable C:\\\\windows\\\\command\\\\start.exe /Unix /home/hamonikr-wine/.wine/dosdevices/c:/users/Public/Desktop/카카오톡.lnk
Type=Application
Icon=/usr/share/icons/HamoniKR/apps/scalable/kakaotalk.png
StartupNotify=true
Path=/home/hamonikr-wine/.wine/dosdevices/c:/Program Files/Kakao/KakaoTalk
StartupWMClass=kakaotalk.exe
Categories=Office;

